$maxWidth: 70rem;
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  nav {
    display: flex;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &:hover:not(.disabled) {
        text-decoration: underline;
        cursor: pointer;
      }
      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;

    img {
      cursor: pointer;
    }
  }

  header {
    max-width: $maxWidth;
    width: 100%;
  }

  section {
    max-width: $maxWidth;
    width: 100%;
  }

  .blogList {
    width: 100%;
    background-color: #4d4d4d;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-top: 2rem;
    border: 1px solid #5d5d5d;

    padding: 0px;

    & li {
      h2 {
        transition: 1s ease;
      }
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #5d5d5d;
      padding-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 2rem;
      padding-top: 1rem;
      align-items: center;
      gap: 1rem;
      &::marker {
        content: "";
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover h2 {
        text-decoration: underline;
      }
    }

    .blogDetails {
      color: #a6a6a6;
    }

    .blogView {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;
      .viewCount {
        color: white;
      }
    }
  }
}

.centered {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
